In [97]:
import pandas as pd
import numpy as np

In [98]:
df = pd.read_csv("../data/City_Subset_with_TimeSeries.csv")

df.order_date = pd.to_datetime(df.order_date,format='%Y-%m-%d') 

number_of_weeks = max(df.order_week)
number_of_months = max(df.order_month)
date_range = int(str(max(df.order_date) - min(df.order_date)).split(" ")[0])
df["week_of_month"] = df.order_day.apply(lambda x: np.ceil(x/7))
df.head()

,customer_id,manufacturer_id,society_id,city_id,route_id,store_id,order_id,order_date,category_id,subcategory_id,...,product_addedtobasket_on,order_placed_date,order_placed_day,order_placed_month,order_placed_day_of_week,order_placed_hour,order_day,order_week,order_month,order_day_of_week
0,20049456,1148224,1267056,1120784,1138032,1120112,734536432,2019-01-27,1122464,1124816,...,2019-01-26 12:58:32,2019-01-26,26,1,5,12,27,4,1,6
1,20164592,1122016,1256416,1120784,1137248,1120112,734763008,2019-01-27,1122576,1125152,...,2019-01-26 20:11:37,2019-01-26,26,1,5,20,27,4,1,6
2,20049456,1155504,1267056,1120784,1138032,1120112,734536432,2019-01-27,1122800,1126496,...,2019-01-26 13:23:30,2019-01-26,26,1,5,13,27,4,1,6
3,20049456,1127728,1267056,1120784,1138032,1120112,734536432,2019-01-27,1122800,1126160,...,2019-01-26 13:26:27,2019-01-26,26,1,5,13,27,4,1,6
4,20164592,1150128,1256416,1120784,1137248,1120112,734763008,2019-01-27,1123472,1130640,...,2019-01-26 20:00:26,2019-01-26,26,1,5,20,27,4,1,6

In [99]:
df["week_of_month"] = df.order_day.apply(lambda x: np.ceil(x/7))

In [100]:
city_insights = {}
city_insights["num_users"] = len(df.customer_id.unique())
consolidated = df.groupby("order_id")
city_insights["mean_order_cost"] = consolidated.total_cost.sum().mean()
city_insights["avg_value_per_day"] = (df.groupby("order_date").total_cost.sum().sum())/date_range
city_insights["avg_order_per_day"] = (df.groupby("order_date").order_id.count().sum())/date_range
city_insights["number_of_warehouses"] = df.groupby(["city_id","store_id"]).count().shape[0]
city_insights["day_of_week_graph"] = [i/number_of_weeks for i in df.groupby("order_day_of_week")["total_cost"].sum()]
city_insights["week_of_month_graph"] = [i/number_of_months for i in df.groupby("week_of_month")["total_cost"].sum()]

city_insights = pd.DataFrame([city_insights])
city_insights

,avg_order_per_day,avg_value_per_day,day_of_week_graph,mean_order_cost,num_users,number_of_warehouses,week_of_month_graph
0,1356.081081,67191.962938,"[61048.94250258141, 58534.923292258005, 60997....",162.651957,861,1,"[382275.2765857125, 392328.40280284703, 413413..."

In [101]:
Area_centers = [
  {
    "lat": 18.464815,
    "long": 73.796439
  },
  {
    "lat": 18.507762,
    "long": 73.798775
  },
  {
    "lat": 18.52517,
    "long": 73.779009
  },
  {
    "lat": 18.56792,
    "long": 73.770989
  },
  {
    "lat": 18.556043,
    "long": 73.812341
  },
  {
    "lat": 18.683466,
    "long": 73.731081
  },
  {
    "lat": 18.665461,
    "long": 73.808566
  },
  {
    "lat": 18.565205,
    "long": 73.911494
  },
  {
    "lat": 18.529224,
    "long": 73.860415
  },
  {
    "lat": 18.435227,
    "long": 73.889246
  },
  {
    "lat": 18.50861,
    "long": 73.934341
  },
  {
    "lat": 18.635565,
    "long": 73.843959
  },
  {
    "lat": 18.606168,
    "long": 73.874991
  },
  
  {
    "lat": 18.599301,
    "long": 73.927049
  },
  {
    "lat": 18.59913,
    "long": 73.737242
  }
]

warehouse = {
    "lat": 18.676853,
    "long": 73.897229
  }
len(Area_centers)

15

In [102]:
# from math import sin, cos, sqrt, atan2, radians

# # approximate radius of earth in km
# R = 6373.0

# lat1 = radians(52.2296756)
# lon1 = radians(21.0122287)
# lat2 = radians(52.406374)
# lon2 = radians(16.9251681)

# dlon = lon2 - lon1
# dlat = lat2 - lat1

# a = sin(dlat / 2)*2 + cos(lat1) * cos(lat2) * sin(dlon / 2)*2
# c = 2 * atan2(sqrt(a), sqrt(1 - a))

# distance = R * c

# print("Result:", distance)
# print("Should be:", 278.546, "km")

In [103]:
import geopy.distance

def getDistance(lat1, long1, lat2=warehouse['lat'], long2=warehouse['long']):
    return geopy.distance.distance((lat1, long1), (lat2, long2)).km

In [104]:
distances = []
for center in Area_centers:
    distances.append(getDistance(center["lat"],center["long"]))
city_insights["max_distance_from_warehouse"] = max(distances)
city_insights["warehouse_lat"] = warehouse["lat"]
city_insights["warehouse_long"] = warehouse["long"]

In [105]:
city_insights

,avg_order_per_day,avg_value_per_day,day_of_week_graph,mean_order_cost,num_users,number_of_warehouses,week_of_month_graph,max_distance_from_warehouse,warehouse_lat,warehouse_long
0,1356.081081,67191.962938,"[61048.94250258141, 58534.923292258005, 60997....",162.651957,861,1,"[382275.2765857125, 392328.40280284703, 413413...",26.758088,18.676853,73.897229

### Predictive Analysis on City Data
1. Pods
2. Max_time_to deliver

In [107]:
import xgboost as xgb

### Look at Subscription

In [108]:


y = df.groupby(["order_date"]).total_cost.sum()
df.drop(['customer_id', 'manufacturer_id', 'society_id', 'city_id', 'route_id',
       'store_id', 'order_id', 'category_id', 'subcategory_id','order_placed_day','order_placed_month','order_placed_day_of_week','order_placed_hour',
       'product_id', 'product_quantity', 'selling_price_per_unit','subscription', 'product_addedtobasket_on'],inplace=True,axis=1)
x = df.groupby(["order_date"]).mean()

In [109]:
x = x.reset_index()
x["time_value"] = x.index

In [110]:
x.drop(["order_date","total_cost"],axis=1,inplace=True)

In [111]:
x

,order_day,order_week,order_month,order_day_of_week,week_of_month,time_value
0,27,4,1,6,4.0,0
1,28,5,1,0,4.0,1
2,29,5,1,1,5.0,2
3,30,5,1,2,5.0,3
4,31,5,1,3,5.0,4
5,1,5,2,4,1.0,5
6,2,5,2,5,1.0,6
7,3,5,2,6,1.0,7
8,4,6,2,0,1.0,8
9,5,6,2,1,1.0,9
10,6,6,2,2,1.0,10
11,7,6,2,3,1.0,11
12,8,6,2,4,2.0,12
13,9,6,2,5,2.0,13
14,10,6,2,6,2.0,14
15,11,7,2,0,2.0,15
16,12,7,2,1,2.0,16
17,13,7,2,2,2.0,17
18,14,7,2,3,2.0,18
19,15,7,2,4,3.0,19
20,16,7,2,5,3.0,20
21,17,7,2,6,3.0,21
22,18,8,2,0,3.0,22
23,19,8,2,1,3.0,23
24,20,8,2,2,3.0,24
25,21,8,2,3,3.0,25
26,22,8,2,4,4.0,26
27,23,8,2,5,4.0,27
28,24,8,2,6,4.0,28
29,25,9,2,0,4.0,29
...,...,...,...,...,...,...
155,2,27,7,1,1.0,155
156,3,27,7,2,1.0,156
157,4,27,7,3,1.0,157
158,5,27,7,4,1.0,158
159,6,27,7,5,1.0,159
160,7,27,7,6,1.0,160
161,8,28,7,0,2.0,161
162,9,28,7,1,2.0,162
163,10,28,7,2,2.0,163
164,11,28,7,3,2.0,164
165,12,28,7,4,2.0,165
166,13,28,7,5,2.0,166
167,14,28,7,6,2.0,167
168,15,29,7,0,3.0,168
169,16,29,7,1,3.0,169
170,17,29,7,2,3.0,170
171,18,29,7,3,3.0,171
172,19,29,7,4,3.0,172
173,20,29,7,5,3.0,173
174,21,29,7,6,3.0,174
175,22,30,7,0,4.0,175
176,23,30,7,1,4.0,176
177,24,30,7,2,4.0,177
178,25,30,7,3,4.0,178
179,26,30,7,4,4.0,179
180,27,30,7,5,4.0,180
181,28,30,7,6,4.0,181
182,29,31,7,0,5.0,182
183,30,31,7,1,5.0,183
184,31,31,7,2,5.0,184

In [112]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import math
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.1, shuffle=False )

In [127]:
xgb_reg = xgb.XGBRegressor(n_estimators=200, n_jobs=-1,max_depth=3,verbosity =0)
m=xgb_reg.fit(X_train, y_train)
pred = m.predict(X_test)

C:\Users\am21907\AppData\Local\Continuum\anaconda3\lib\site-packages\xgboost\core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \

In [128]:
math.sqrt(mean_squared_error(y_test, pred))

11072.847988423793

In [115]:
m=xgb_reg.fit(x,y)

C:\Users\am21907\AppData\Local\Continuum\anaconda3\lib\site-packages\xgboost\core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \
C:\Users\am21907\AppData\Local\Continuum\anaconda3\lib\site-packages\xgboost\core.py:588: FutureWarning: Series.base is deprecated and will be removed in a future version
  data.base is not None and isinstance(data, np.ndarray) \

In [116]:
# x.iloc[x.shape[0]-1,:]
next_ = {"order_day":1.0,"order_week":32.0,"order_month":8.0,"order_day_of_week":3.0,"week_of_month":1.0,"time_value":764233.0} 
next_ = pd.DataFrame([next_])

In [118]:
t = pd.DataFrame(columns=x.columns)
t.loc[0]=next_.iloc[0,:]

In [119]:
X_test

,order_day,order_week,order_month,order_day_of_week,week_of_month,time_value
166,13,28,7,5,2.0,166
167,14,28,7,6,2.0,167
168,15,29,7,0,3.0,168
169,16,29,7,1,3.0,169
170,17,29,7,2,3.0,170
171,18,29,7,3,3.0,171
172,19,29,7,4,3.0,172
173,20,29,7,5,3.0,173
174,21,29,7,6,3.0,174
175,22,30,7,0,4.0,175
176,23,30,7,1,4.0,176
177,24,30,7,2,4.0,177
178,25,30,7,3,4.0,178
179,26,30,7,4,4.0,179
180,27,30,7,5,4.0,180
181,28,30,7,6,4.0,181
182,29,31,7,0,5.0,182
183,30,31,7,1,5.0,183
184,31,31,7,2,5.0,184

In [131]:
city_insights["predicted_value"] = m.predict(t)

In [134]:
city_insights.to_csv("../output/city_descriptive_insights.csv",index=None)

### Alpha_Centers

In [139]:
pods = pd.read_csv("../output/pod_data.csv")
pod1 = pods["pod1"].idxmin()
pod2 = pods["pod2"].idxmin()
pod3 = pods["pod3"].idxmin()

city_insights["pod1_lat"] = pods.lat[pod1]
city_insights["pod1_long"] = pods.long[pod1]
city_insights["pod2_lat"] = pods.lat[pod2]
city_insights["pod2_long"] = pods.long[pod2]
city_insights["pod3_lat"] = pods.lat[pod3]
city_insights["pod3_long"] = pods.long[pod3]
city_insights.to_csv("../output/city_descriptive_insights.csv",index=None)

In [145]:
pods["distance"] = pods.apply(lambda x: min(x.pod1,x.pod2,x.pod3),axis=1)

city_insights["predicted_distance"] = pods.distance.max()

In [146]:
city_insights.to_csv("../output/city_descriptive_insights.csv",index=None)